body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #09223c;
}

header {
  background-color: #CDDC28;
  color: #09223c;
  padding: 1em 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color:#09223c;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 20px;
}

nav ul li a:hover {
  background-color: #c7c7c7;
}

main {
  padding: 2em;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  color: white;
  font-size: 27px;
}

img{
  width: 100px;
  height: 60px;
}

#course-list {
  background-color: #fff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-item, .course-detail, .profile-item {
  margin-bottom: 1em;
  padding: 1em;
  border: 2px solid #545454;
  border-radius: 5px;
}

.course-item h3{
  font-size: 1.5em;
  color: green;
}



  